*.xml
*.iml
*.orig
*.pyc
runMeshGeneration.py
log*
runSolver.py
testcase/*
.DS_Store

# keeping the examples clean
examples/*  # ignore example folder

# then ignore/allow in steps examples with their subdirs
!examples/circle/
examples/circle/*
!examples/circle/*.batch
!examples/circle/*.bc
!examples/circle/*.geo
!examples/circle/*.par
!examples/circle/script.py
!examples/circle/script_new_mesher.py
examples/circle/vtk/*
examples/circle/output/*

!examples/cutsquare/
examples/cutsquare/*
!examples/cutsquare/*.batch
!examples/cutsquare/*.bc
!examples/cutsquare/*.geo
!examples/cutsquare/*.par
!examples/cutsquare/script.py
!examples/cutsquare/script_new_mesher.py
examples/cutsquare/vtk/*
examples/cutsquare/output/*

!examples/octaring/
examples/octaring/*
!examples/octaring/*.batch
!examples/octaring/*.bc
!examples/octaring/*.geo
!examples/octaring/*.par
!examples/octaring/script.py
!examples/octaring/script_new_mesher.py
examples/octaring/vtk/*
examples/octaring/output/*


!examples/rhombus/
examples/rhombus/*
!examples/rhombus/*.batch
!examples/rhombus/*.bc
!examples/rhombus/*.geo
!examples/rhombus/*.par
!examples/rhombus/script.py
!examples/rhombus/script_new_mesher.py
examples/rhombus/vtk/*
examples/rhombus/output/*

!examples/square/
examples/square/*
!examples/square/*.batch
!examples/square/*.bc
!examples/square/*.geo
!examples/square/*.par
!examples/square/script.py
examples/square/vtk/*
examples/square/output/*

!examples/kerbprobe/
examples/kerbprobe/*
!examples/kerbprobe/*.batch
!examples/kerbprobe/*.bc
!examples/kerbprobe/*.geo
!examples/kerbprobe/*.par
!examples/kerbprobe/script.py
!examples/kerbprobe/script_new_mesher.py
!examples/kerbprobe/holeqa
!examples/kerbprobe/mesh
!examples/kerbprobe/IkerbPlainStrain
examples/kerbprobe/vtk/*
examples/kerbprobe/output/*

!examples/circlereflection/
examples/circlereflection/*
!examples/circlereflection/*.batch
!examples/circlereflection/*.bc
!examples/circlereflection/*.geo
!examples/circlereflection/*.par
!examples/circlereflection/script.py
!examples/circlereflection/script_new_mesher.py
examples/circlereflection/vtk/*
examples/circlereflection/output/*

!examples/frantz/
examples/frantz/*
!examples/frantz/*.batch
!examples/frantz/*.bc
!examples/frantz/*.geo
!examples/frantz/*.par
!examples/frantz/script_new_mesher.py
examples/frantz/vtk/*
examples/frantz/output/*

!examples/freebox/
examples/freebox/*
!examples/freebox/*.batch
!examples/freebox/*.bc
!examples/freebox/*.geo
!examples/freebox/*.par
!examples/freebox/script_new_mesher.py
examples/freebox/vtk/*
examples/freebox/output/*

!examples/square_navier/
examples/square_navier/*
!examples/square_navier/*.batch
!examples/square_navier/*.bc
!examples/square_navier/*.geo
!examples/square_navier/*.par
!examples/square_navier/script_new_mesher.py
examples/square_navier/vtk/*
examples/square_navier/output/*

!examples/triangle/
examples/triangle/*
!examples/triangle/*.batch
!examples/triangle/*.bc
!examples/triangle/*.geo
!examples/triangle/*.par
!examples/triangle/script_new_mesher.py
examples/triangle/vtk/*
examples/triangle/output/*

*.avi*
*.vtk*
