# here please give the initial conditions
# 1: ZERO_BC:
# 2: LINE_BC: w wdot | A_1*x + A_2*y + A_3*xy
# 3: COS_BC: w wdot | A_1*cos(2*pi/T_1+phi_1)+A_2*cos(2*pi/T_2+phi_2)

# please choose the type of initial condition
initial_condition: 2


# please give the parameter

# for initial_condition = 2
amplitude_lin_1: 2 3
amplitude_lin_2: 2 3
amplitude_lin_3: 2 3

# for initial_condition = 3
phase_change_1: 3.14 3.14
phase_change_2: 3.14 3.14
period_1: 1 2
period_2: 1 2
amplitude_1: 2 3
amplitude_2: 2 3
translation: 2 3

